125$堅尼地城|Kennedy TownVZZW
35$西環|WesternVZZW
47$上環|Sheung WanVZZW
44$中環|CentralVZZW
46$金鐘|AdmiraltyVZZW
127$南區|SouthernVZZW
42$鴨脷洲|Ap Lei ChauVZZW
33$香港仔|AberdeenVZZW
41$田灣|Tin WanVZZW
37$黃竹坑|Wong Chuk HangVZZW
45$銅鑼灣|Causeway BayVZZW
43$灣仔|Wan ChaiVZZW
34$北角|North PointVZZW
32$鰂魚涌|Quarry BayVZZW
40$西灣河|Sai Wan HoVZZW
39$筲箕灣|Shau Kei WanVZZW
38$柴灣|Chai WanVZZW
36$小西灣|Siu Sai WanVZZW
129$荔枝角|Lai Chi KokVZZW
1$長沙灣|Cheung Sha WanVZZW
4$深水埗|Sham Shui PoVZZW
51$太子|Prince EdwardVZZW
140$九龍站|Kowloon StationVZZW
2$大角咀|Tai Kok TsuiVZZW
3$旺角|Mong KokVZZW
53$油麻地|Yau Ma TeiVZZW
49$佐敦|JordanVZZW
9$尖沙咀|Tsim Sha TsuiVZZW
60$尖沙咀東部|Tsim Sha Tsui EastVZZW
63$紅磡|Hung HomVZZW
58$土瓜灣|To Kwa WanVZZW
52$九龍城|Kowloon CityVZZW
57$新蒲崗|San Po KongVZZW
54$九龍灣|Kowloon BayVZZW
62$牛頭角|Ngau Tau KokVZZW
55$觀塘|Kwun TongVZZW
59$油塘|Yau TongVZZW
61$將軍澳|Tseung Kwan OVZZW
24$將軍澳工業村|Tseung Kwan O Ind. Est.VZZW
18$上水|Sheung ShuiVZZW
19$粉嶺|FanlingVZZW
12$安樂村|On Lok TsuenVZZW
17$大埔|Tai PoVZZW
22$大埔工業園|Tai Po Industrial ParkVZZW
16$火炭|Fo TanVZZW
77$石門|Shek MunVZZW
15$小瀝源|Siu Lek YuenVZZW
56$西貢|Sai KungVZZW
14$沙田|ShatinVZZW
13$大圍|Tai WaiVZZW
7$屯門|Tuen MunVZZW
23$元朗工業村|Yuen Long Industrial EstateVZZW
20$元朗|Yuen LongVZZW
25$橋頭圍工業區|Kiu Tau WaiVZZW
6$荃灣|Tsuen WanVZZW
132$葵興|Kwai HingVZZW
128$葵芳|Kwai FongVZZW
5$葵涌|Kwai ChungVZZW
10$大嶼山|Lantau IslandVZZW
131$東涌|Tung ChungVZZW
8$青衣|Tsing YiVZZW
1$金鐘|AdmiraltyVWPE
2$西灣河|Sai Wan HoVWPE
3$筲箕灣|Shau Kei WanVWPE
4$西區|WesternVWPE
5$堅尼地城|Kennedy TownVWPE
6$跑馬地|Happy ValleyVWPE
8$南區|SouthernVWPE
9$中環|CentralVWPE
10$灣仔|Wan ChaiVWPE
11$北角|North PointVWPE
12$鰂魚涌|Quarry BayVWPE
13$香港仔|AberdeenVWPE
14$銅鑼灣|Causeway BayVWPE
15$柴灣|Chai WanVWPE
16$上環|Sheung WanVWPE
56$山頂|The PeakVWPE
57$薄扶林|Pok Fu LamVWPE
58$赤柱|StanleyVWPE
65$鴨脷洲|Ap Lei ChauVWPE
67$東半山|Mid-Levels EastVWPE
69$黃竹坑|Wong Chuk HangVWPE
70$淺水灣|Repulse BayVWPE
153$西半山|Mid-Levels WestVWPE
156$中半山|Mid-LevelsVWPE
158$北角半山|Mid-Levels North PointVWPE
17$長沙灣|Cheung Sha WanVWPE
20$何文田|Ho Man TinVWPE
21$紅磡|Hung HomVWPE
23$佐敦|JordanVWPE
24$九龍城|Kowloon CityVWPE
25$九龍灣|Kowloon BayVWPE
27$觀塘|Kwun TongVWPE
28$九龍塘|Kowloon TongVWPE
31$荔枝角|Lai Chi KokVWPE
32$旺角|Mong KokVWPE
33$美孚|Mei FooVWPE
34$太子|Prince EdwardVWPE
35$深水埗|Sham Shui PoVWPE
36$新蒲崗|San Po KongVWPE
40$尖沙咀中部|Tsim Sha Tsui CentralVWPE
41$尖沙咀東部|Tsim Sha Tsui EastVWPE
43$土瓜灣|To Kwa WanVWPE
44$大角咀|Tai Kok TsuiVWPE
45$尖沙咀西部|Tsim Sha Tsui WestVWPE
49$油麻地|Yau Ma TeiVWPE
51$油塘|Yau TongVWPE
54$石硤尾|Shek Kip MeiVWPE
59$九龍站|Kowloon StationVWPE
60$藍田|Lam TinVWPE
68$黃大仙|Wong Tai SinVWPE
152$鑽石山|Diamond HillVWPE
155$鯉魚門|Lei Yue MunVWPE
160$牛池灣|Ngau Chi WanVWPE
19$火炭|Fo TanVWPE
26$葵芳|Kwai FongVWPE
29$葵涌|Kwai ChungVWPE
30$葵興|Kwai HingVWPE
37$沙田|ShatinVWPE
38$上水|Sheung ShuiVWPE
39$屯門|Tuen MunVWPE
42$荃灣|Tsuen WanVWPE
46$將軍澳|Tseung Kwan OVWPE
47$東涌|Tung ChungVWPE
48$大埔|Tai PoVWPE
50$元朗|Yuen LongVWPE
66$大圍|Tai WaiVWPE
71$西貢|Sai KungVWPE
86$粉嶺|FanlingVWPE
87$愉景灣|Discovery BayVWPE
88$馬鞍山|Ma On ShanVWPE
89$天水圍|Tin Shui WaiVWPE
146$青衣|Tsing YiVWPE
154$梅窩|Mui WoVWPE
157$赤鱲角|Chek Lap KokVWPE
159$長洲|Cheung ChauVWPE
161$北區|North DistrictVWPE
163$坪輋|Ping CheVWPE
47$上環|Sheung WanOLDB
44$中環|CentralOLDB
46$金鐘|AdmiraltyOLDB
45$銅鑼灣|Causeway BayOLDB
43$灣仔|Wan ChaiOLDB
34$北角|North PointOLDB
32$鰂魚涌|Quarry BayOLDB
51$太子|Prince EdwardOLDB
3$旺角|Mong KokOLDB
53$油麻地|Yau Ma TeiOLDB
9$尖沙咀|Tsim Sha TsuiOLDB
60$尖沙咀東部|Tsim Sha Tsui EastOLDB
54$九龍灣|Kowloon BayOLDB
55$觀塘|Kwun TongOLDB
14$沙田|ShatinOLDB
7$屯門|Tuen MunOLDB
6$荃灣|Tsuen WanOLDB
128$葵芳|Kwai FongOLDB
125$堅尼地城|Kennedy TownQRIS
35$西環|WesternQRIS
47$上環|Sheung WanQRIS
44$中環|CentralQRIS
46$金鐘|AdmiraltyQRIS
127$南區|SouthernQRIS
42$鴨脷洲|Ap Lei ChauQRIS
33$香港仔|AberdeenQRIS
41$田灣|Tin WanQRIS
37$黃竹坑|Wong Chuk HangQRIS
45$銅鑼灣|Causeway BayQRIS
43$灣仔|Wan ChaiQRIS
34$北角|North PointQRIS
32$鰂魚涌|Quarry BayQRIS
40$西灣河|Sai Wan HoQRIS
39$筲箕灣|Shau Kei WanQRIS
38$柴灣|Chai WanQRIS
36$小西灣|Siu Sai WanQRIS
129$荔枝角|Lai Chi KokQRIS
1$長沙灣|Cheung Sha WanQRIS
4$深水埗|Sham Shui PoQRIS
51$太子|Prince EdwardQRIS
140$九龍站|Kowloon StationQRIS
2$大角咀|Tai Kok TsuiQRIS
3$旺角|Mong KokQRIS
53$油麻地|Yau Ma TeiQRIS
49$佐敦|JordanQRIS
9$尖沙咀|Tsim Sha TsuiQRIS
60$尖沙咀東部|Tsim Sha Tsui EastQRIS
63$紅磡|Hung HomQRIS
58$土瓜灣|To Kwa WanQRIS
52$九龍城|Kowloon CityQRIS
57$新蒲崗|San Po KongQRIS
54$九龍灣|Kowloon BayQRIS
62$牛頭角|Ngau Tau KokQRIS
55$觀塘|Kwun TongQRIS
59$油塘|Yau TongQRIS
61$將軍澳|Tseung Kwan OQRIS
24$將軍澳工業村|Tseung Kwan O Ind. Est.QRIS
18$上水|Sheung ShuiQRIS
19$粉嶺|FanlingQRIS
12$安樂村|On Lok TsuenQRIS
17$大埔|Tai PoQRIS
22$大埔工業園|Tai Po Industrial ParkQRIS
16$火炭|Fo TanQRIS
77$石門|Shek MunQRIS
15$小瀝源|Siu Lek YuenQRIS
56$西貢|Sai KungQRIS
14$沙田|ShatinQRIS
13$大圍|Tai WaiQRIS
7$屯門|Tuen MunQRIS
23$元朗工業村|Yuen Long Industrial EstateQRIS
20$元朗|Yuen LongQRIS
25$橋頭圍工業區|Kiu Tau WaiQRIS
6$荃灣|Tsuen WanQRIS
132$葵興|Kwai HingQRIS
128$葵芳|Kwai FongQRIS
5$葵涌|Kwai ChungQRIS
10$大嶼山|Lantau IslandQRIS
131$東涌|Tung ChungQRIS
8$青衣|Tsing YiQRIS
