129$荔枝角|Lai Chi KokRTFE
1$長沙灣|Cheung Sha WanRTFE
4$深水埗|Sham Shui PoRTFE
51$太子|Prince EdwardRTFE
140$九龍站|Kowloon StationRTFE
2$大角咀|Tai Kok TsuiRTFE
3$旺角|Mong KokRTFE
53$油麻地|Yau Ma TeiRTFE
49$佐敦|JordanRTFE
9$尖沙咀|Tsim Sha TsuiRTFE
60$尖沙咀東部|Tsim Sha Tsui EastRTFE
63$紅磡|Hung HomRTFE
58$土瓜灣|To Kwa WanRTFE
52$九龍城|Kowloon CityRTFE
57$新蒲崗|San Po KongRTFE
54$九龍灣|Kowloon BayRTFE
62$牛頭角|Ngau Tau KokRTFE
55$觀塘|Kwun TongRTFE
59$油塘|Yau TongRTFE
61$將軍澳|Tseung Kwan ORTFE
24$將軍澳工業村|Tseung Kwan O Ind. Est.RTFE
